input {
    border: 1px solid #000;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #1989f1;
    box-shadow: 0 0 5px rgba(25, 137, 241, 0.5);
}

.btn-primary {
    
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ee0505;
}
